<div class="ruled-area ruled-area--list">
    <h3 class="ruled-area__header">
        <%= collection.name %>
    </h3>
    <ol>
    <% collection.guides.each do |guide| %>
        <li>
            <% if current_page?(guide) %>
                <%= guide.name %>
            <% else %>
                <%= link_to guide.name, guide %>
            <% end %>
        </li>
    <% end %>
    </ol>
</div>