<form class="mini-search" method="get" action="/search">
    <input name="query" placeholder="Search..." value="<%= params["query"] %>" class="mini-search__input" required>
    <button class="mini-search__button"><%= image_tag "search-dark.svg" %></button>
</form>