<header class="page-header">
    <div class="narrow-container">
        <% if defined?(context) %><p class="page-header__context"><%= context %></p><% end %>
        <h1 class="page-header__title"><%= title %><h1>
        <% if defined?(lede) %><p class="page-header__lede"><%= lede %></p><% end %>
    </div>
</header>