@import "vars";
@import "mixins";

*{
    font-family: proxima-nova, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 400px){
        padding-left: 5vw;
        padding-right: 5vw;
    }
    @media screen and (min-width: 700px){
        padding-left: 10vw;
        padding-right: 10vw;
    }
    @media screen and (min-width: 1100px){
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

.narrow-container{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.turbolinks-progress-bar {
    background-color: $yellow;
}

.page-body{
    padding: 40px 15px;
    background: $background;
    color: $black;
    @media screen and (min-width: 800px){
        padding: 80px 15px;
    }
}

.section-title{
    margin-top: 0px;
    color: $black;
    font-size: 1.8rem;
    margin-bottom: 20px;
    @media screen and (min-width: 800px){
        font-size: 2rem;
        margin-bottom: 30px;
    }
}

.two-column-layout{
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 60px;
    @media screen and (min-width: 900px){
        grid-template-columns: 1fr 2fr;
    }
    @media screen and (min-width: 900px){
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 100px;
    }
}

.two-column-layout__sidebar{
    @media screen and (min-width: 900px){
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

.two-column-layout__main-content{
    @media screen and (min-width: 900px){
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

.two-column-layout__main-content--markdown{
    @include markdown
}

.three-column-grid{
    list-style: none;
    margin: 20px 0px 40px 0px;
    padding: 0;
    display: grid;
    grid-row-gap: 20px;
    @media screen and (min-width: 500px){
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
    @media screen and (min-width: 900px){
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        margin: 20px 0px 60px 0px;
    }
}