@import "vars";

.info-box{
    font-size: 1.1rem;
    color: $black;
    background: white;
    padding: 25px 55px;
    font-weight: bold;
    text-align: center;
    a{
        color: $purple;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        &:focus{
            background: $yellow;
            outline: 3px solid $yellow;
        }
    }
}

