@import "vars";

.page-header{
    padding: 40px 15px;
    color: $black;
    text-align: center;
    @media screen and (min-width: 800px){
        padding: 80px 15px;
    }
}

.page-header__context{
    font-weight: bold;
    font-size: 1.2rem;
    @media screen and (min-width: 800px){
        font-size: 1.4rem;
    }
}

.page-header__title{
    font-size: 2.3rem;
    @media screen and (min-width: 800px){
        font-size: 3rem;
    }
}

.page-header__lede{
    
}