@import "vars";

.search-results-header{
    padding: 40px 15px;
    color: $black;
    @media screen and (min-width: 800px){
        padding: 80px 15px;
    }
}

.search-results-header__title{
    margin: 0;
    font-size: 2.3rem;
    @media screen and (min-width: 800px){
        font-size: 3rem;
    }
}

.search-form--dark{
    max-width: 700px;

    .search-form__input{
        color: $black;
        border-color: $black;
    }
    
    .search-form__button{
        &:hover{
            background: $background;
        }
    }
}

.search-results{
    list-style: none;
    padding: 0;
}

.search-result{
    margin-bottom: 40px;
    @media screen and (min-width: 800px){
        margin-bottom: 60px;
    }
}

.search-result__title{
    font-size: 1.3rem;
    margin-top: 0px;
    margin-bottom: 7px;
    font-weight: bold;
    color: $purple;
    text-decoration: underline;
    @media screen and (min-width: 800px){
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    &:hover{
        text-decoration: none;
    }
    &:focus{
        background: $yellow;
        outline: 3px solid $yellow;
    }
}

.search-result__description{
    color: $black;
    font-size: 1.1rem;
}

.search-result__meta{
    color: $grey;
    font-size: 1.1rem;
}