<% content_for :title, "Guides" %>

<%= render "shared/page_header", title: "Guides" %>

<main class="page-body">
    <div class="container">

        <% @teams.each do |team|%>
            <h2><%= team.name %></h2>
            <% team.collections.each do |collection| %>
                <h3><%= collection.name %></h3>
                <ol>
                    <% collection.guides.each do |guide|%>
                        <li><%= link_to guide.name, guide_path(guide) %></li>
                    <% end %>
                </ol>
            <% end %>
        <% end %>

    </div>
</main>