<% content_for :title, "Guides" %>

<%= render "shared/page_header", title: "Guides" %>

<main class="page-body">
    <div class="container">

        <% @teams.each do |team|%>
            <h2 class="section-title"><%= team.name %></h2>
            <ul class="three-column-grid">
                <% team.collections.each do |c| %>
                    <%= render "shared/collection", collection: c%>
                <% end %>
            </ul>
        <% end %>

    </div>
</main>