<% content_for :title, @guide.name %>

<%= render "shared/page_header", title: @guide.name, context: "Guide" %>

<main class="page-body">
    <div class="container">

        <%= markdown(@guide.body) %>

    </div>
</main>