<% content_for :title, "Artefacts" %>

<%= render "shared/page_header", title: "Artefacts" %>

<main class="page-body">
    <div class="container">

        <% @teams.each do |t| %>
            <h2 class="section-title"><%= t.name %></h2>
            <ul class="three-column-grid">
                <% t.artefacts.each do |a| %>
                    <%= render "shared/artefact", artefact: a %>
                <% end %>
            </ul>
        <% end %>

    </div>
</main>